tests/
coverage/
.github/
*.test.*
.env
*.md
.vscode/
node_modules/
.gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache e build
.nyc_output
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache

# Outros arquivos desnecessários
*.tgz
.yarn-integrity
.pnp.*
.yarn/*
.vscode-test